In [2]:
import zipfile

zip_file_path = '/content/archive (6).zip'

with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall('.')

print(f"Contents of {zip_file_path} extracted successfully.")

Contents of /content/archive (6).zip extracted successfully.

In [3]:
import os

# List all files and directories in the current working directory
files_in_current_directory = os.listdir('.')

print("Files in the current directory after extraction:")
for file_name in files_in_current_directory:
    print(file_name)

Files in the current directory after extraction:
.config
archive (6).zip
11 march 2025.csv
budget_data.csv
budjet (2).csv
sample_data

In [4]:
import pandas as pd

# List of identified CSV files
csv_files = [
    '11 march 2025.csv',
    'budget_data.csv',
    'budjet (2).csv'
]

# Inspect each CSV file
for file in csv_files:
    print(f"\n--- Inspecting {file} ---")
    try:
        df = pd.read_csv(file)
        print("First 5 rows:")
        print(df.head())
        print("\nDataFrame Info:")
        df.info()
    except Exception as e:
        print(f"Error reading {file}: {e}")

--- Inspecting 11 march 2025.csv ---
First 5 rows:
                        date    category  amount
0  2022-07-06 05:57:10 +0000  Restuarant    5.50
1  2022-07-06 05:57:27 +0000      Market    2.00
2  2022-07-06 05:58:12 +0000       Coffe   30.10
3  2022-07-06 05:58:25 +0000      Market   17.33
4  2022-07-06 05:59:00 +0000  Restuarant    5.50

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4597 entries, 0 to 4596
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      4597 non-null   object
 1   category  4597 non-null   object
 2   amount    4597 non-null   float64
dtypes: float64(1), object(2)
memory usage: 107.9+ KB

--- Inspecting budget_data.csv ---
First 5 rows:
                        date    category  amount
0  2022-07-06 05:57:10 +0000  Restuarant    5.50
1  2022-07-06 05:57:27 +0000      Market    2.00
2  2022-07-06 05:58:12 +0000       Coffe   30.10
3  2022-07-06 05:58:25 +0000      Market   17.33
4  2022-07-06 05:59:00 +0000  Restuarant    5.50

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608 entries, 0 to 3607
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3608 non-null   object
 1   category  3608 non-null   object
 2   amount    3608 non-null   float64
dtypes: float64(1), object(2)
memory usage: 84.7+ KB

--- Inspecting budjet (2).csv ---
First 5 rows:
                        date    category  amount
0  2022-07-06 05:57:10 +0000  Restuarant    5.50
1  2022-07-06 05:57:27 +0000      Market    2.00
2  2022-07-06 05:58:12 +0000       Coffe   30.10
3  2022-07-06 05:58:25 +0000      Market   17.33
4  2022-07-06 05:59:00 +0000  Restuarant    5.50

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4436 entries, 0 to 4435
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      4436 non-null   object
 1   category  4436 non-null   object
 2   amount    4436 non-null   float64
dtypes: float64(1), object(2)
memory usage: 104.1+ KB

In [5]:
df_budget = pd.read_csv('budget_data.csv')
print("DataFrame 'df_budget' loaded successfully.")
print("First 5 rows of df_budget:")
print(df_budget.head())

DataFrame 'df_budget' loaded successfully.
First 5 rows of df_budget:
                        date    category  amount
0  2022-07-06 05:57:10 +0000  Restuarant    5.50
1  2022-07-06 05:57:27 +0000      Market    2.00
2  2022-07-06 05:58:12 +0000       Coffe   30.10
3  2022-07-06 05:58:25 +0000      Market   17.33
4  2022-07-06 05:59:00 +0000  Restuarant    5.50

In [6]:
unique_categories = df_budget['category'].unique()
print("Unique categories in 'category' column:")
print(unique_categories)

Unique categories in 'category' column:
['Restuarant' 'Market' 'Coffe' 'Transport' 'Other' 'Phone' 'Communal'
 'Clothing' 'Motel' 'Travel' 'Rent Car' 'Sport' 'Events' 'Learning'
 'Health' 'Taxi' 'Business lunch' 'Film/enjoyment' 'Tech' 'joy' 'Fuel'
 'business_expenses']